@using PHP.Sales.Core.Models.System

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach (Transaction t in Model)
{
    @Html.DisplayFor(modelItem => t.ID);
    @Html.DisplayFor(modelItem => t.PayMethod);
    @Html.DisplayFor(modelItem => t.SaleTime);
}