@using PHP.Sales.Core.Models.System
@{
    Layout = null;
    string value = this.ViewData["num"].ToString();
}

@model Sale

<tr class="form-inline" id="editorRows">
    <td>
        @Html.Action("AddProduct", "Transaction", new { selected = Model.ProductID, row = value })
    </td>
    <td>
        @Html.TextBox(String.Concat("SalesList[", value, "].QTY"), Model.QTY, new { @class = "form-control" })
    </td>
    <td>
        @Html.TextBox(String.Concat("SalesList[", value, "].Price"), Model.Price, new { @class = "form-control" })
    </td>
    <td>
        @Html.CheckBox(String.Concat("SalesList[", value, "].GST"), Model.GST, new { @class = "form-control" })
    </td>
    <td>
        <a href="#" class="deleteRow">delete</a>
    </td>
</tr>